<!-- <p>eventbind works!</p>

<button class="btn" (click)="myClick($event)">Click Me!</button>

<p class="msg">{{message}}</p> -->

<!-- <button class="btn" (click)="myProduct($event)">Laptop</button>
<button class="btn" (click)="myProduct($event)">TV</button>
<button class="btn" (click)="myProduct($event)">Washing Machine</button>
<button class="btn" (click)="myProduct($event)">Refrigerator</button>

<p class="msg">{{product}}</p> -->

<input type="text" name="name" id="name" #nameInput>

<button class="btn" (click)="myProduct(nameInput)">Refrigerator</button>

<p class="msg">{{msg}}</p> 