

<input type="text" name="name" id="name" [(ngModel)]="username">

<p class="name">{{username}}</p>


<div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
      <input type="text"
             placeholder="Datepicker"
             class="form-control"
             bsDatepicker>
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
      <input type="text"
             placeholder="Daterangepicker"
             class="form-control"
             bsDaterangepicker>
    </div>
  </div>

  <button type="button" class="btn btn-secondary"
          tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Simple demo
  </button>