<div class="col-md-6 bg-light">
    <div class="card shadow-sm border-0 p-4">
        <h4 class="mb-4 text-primary">Add User</h4>

        <div class="mb-3">
            <label class="form-label fw-semibold">
                User Name:
                <span class="text-success">{{ username}}</span>
            </label>

            <input
                type="text"
                id="name"
                class="form-control"
                placeholder="Enter user name">
        </div>

        <div class="d-grid">
            <button class="btn btn-primary">
                Add User
            </button>
        </div>
    </div>
</div>